{% extends '../base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="display-4">Sistema de Locação de Veículos</h1>
            <p class="lead">Gestão ágil e eficiente para sua frota automotiva</p>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Funcionalidades Principais</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Controle Completo de Locações</li>
                        <li class="list-group-item">Gestão de Frota</li>
                        <li class="list-group-item">Administração de Clientes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
