{% extends 'base.html' %}

{% block content %}
    <h1>Selecione um Veículo para Alocar</h1>

    <ul>
        {% for veiculo in veiculos %}
            <li>
                <a href="{% url 'alocar_veiculo_detalhes' veiculo.id %}">
                    {{ veiculo.marca }} {{ veiculo.modelo }} ({{ veiculo.unidades_disponiveis }} disponíveis)
                </a>
            </li>
        {% empty %}
            <li>Nenhum veículo disponível no momento.</li>
        {% endfor %}
    </ul>
{% endblock %}